@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--dark movie--test--left">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="//localhost:7563/Content/Images/TheMatrix1.jpg">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">Gravity (2013)  </a>

                    <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--light movie--test--left">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">The Hobbit: The Desolation of Smaug (2013)  </a>

                    <p class="movie__time">169 min</p>

                    <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a href="#">Drama</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">5.0</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--light movie--test--right">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">The Hunger Games: Catching Fire (2013)   </a>

                    <p class="movie__time">146 min</p>

                    <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Sci-Fi</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">4.9</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--dark movie--test--right">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">Thor: The Dark World (2013) </a>

                    <p class="movie__time">112 min</p>

                    <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">5.0</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--dark movie--test--left">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">World War Z (2013)  </a>

                    <p class="movie__time">116 min</p>

                    <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Horror</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">4.1</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--light movie--test--left">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">Prisoners (2013) </a>

                    <p class="movie__time">153 min</p>

                    <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">5.0</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--light movie--test--right">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">This Is the End (2013)   </a>

                    <p class="movie__time">107 min</p>

                    <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">4.9</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->
            <!-- Movie variant with time -->
            <div class="movie movie--test movie--test--dark movie--test--right">
                <div class="movie__images">
                    <a href="movie-page-left.html" class="movie-beta__link">
                        <img alt='' src="http://placehold.it/424x424">
                    </a>
                </div>

                <div class="movie__info">
                    <a href='movie-page-left.html' class="movie__title">The Internship (2013)  </a>

                    <p class="movie__time">112 min</p>

                    <p class="movie__option"><a href="#">Comedy</a></p>

                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">5.0</span>
                    </div>
                </div>
            </div>
            <!-- Movie variant with time -->


    </div>
</div>